<form class="example-form example-full-width">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="userName" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="userName.hasError('email')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="userName.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput type="password" [formControl]="password">
      <mat-error *ngIf="password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        Password must be more than 6 characters
      </mat-error>
      <mat-error *ngIf="password.hasError('maxlength')">
        Password must be more less 15 characters
      </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="logIn()">LogIn</button>
    &nbsp; &nbsp;
    <button mat-raised-button color="primary" (click)="SetTestUser()">Set test user</button>
  </div>
</form>
<!-- <div class="row">
  <div class="col-sm">
  </div>
  <div class="col-sm">

    <div class="form-group">
      <label>User name</label>
      <input type="email" class="form-control" [formControl]="userName" aria-describedby="emailHelp">
      <div role="alert" *ngIf="userName.hasError('required')" [ngClass] = "'alert alert-danger'">
        User name is required.
      </div>
      <div role="alert" *ngIf="userName.hasError('email')" [ngClass] = "'alert alert-danger'">
        User name must be valid email.
      </div>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" [formControl]="password">
      <div role="alert" *ngIf="password.hasError('required')" [ngClass] = "'alert alert-danger'">
        Password is required.
      </div>
      <div role="alert" *ngIf="password.hasError('minlength')" [ngClass] = "'alert alert-danger'">
        Password must be more than 6 characters.
      </div>
      <div role="alert" *ngIf="password.hasError('maxlength')" [ngClass] = "'alert alert-danger'">
        Password must be more less 15 characters.
      </div>
    </div>
    <button class="btn btn-primary" (click)="logIn()">LogIn</button>
    <button class="btn btn-danger" (click)="SetTestUser()">Set test user</button>
  </div>
  <div class="col-sm">
  </div>
</div> -->